@model AuthSystem.Models.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <div>
            <div class="box" style="width: 100%; height: 50px;"></div>
            <div class="box mt-2" style="width: 100%; height: 50px;"></div>
        </div>
    </div>
    <div class="col-md-6">
        @* Purchase history *@
        <form asp-controller="Home" asp-action="History" method="get">
            <label>Stock:</label>
            <input asp-for="@Model.Transactions.Symbol" name="symbol" style="width: 25%" />

            <!-- Input for the number of shares -->
            <input asp-for="@Model.Transactions.Quantity" name="quantity" type="number" placeholder="Number of shares" min="0" style="width: 25%" />

            <!-- Dropdown menu for "Buy" and "Sell" -->
            <select asp-for="@Model.Transactions.Action" name="action">
                <option value="Buy">Buy</option>
                <option value="Sell">Sell</option>
            </select>

            <!-- Button to submit the form -->
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
